#logo {
  display: block;
}
.main-panel {
  max-width: 800px;
  margin: 0 auto;
}
.right-panel-top{
  max-width: 780px;
  margin: 0 auto;
  padding: 10px;
  position: static;
  margin-bottom: 10px;
}
.right-panel {
  max-width: 20%;
  min-width: 350px;
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}
.post {
  padding: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 25px;
  margin-top: 25px;
}
.comment-section {
  width: 100%;
  margin-top: 5px;
}
.comment {
  margin-bottom: 1px;
}
.poster-img {
  width: 50px;
  height: 50px;
}
body {
  min-width: 520px;
  background-color: #D4D4D4;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.glowing-border {
  border: 2px solid #dadada;
  border-radius: 4px;
}

.glowing-border:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.admirer {
  padding: 2px;
}
.admirer:link {
  color: #6370FF;
  text-decoration: none;
}
.admirer:visited {
  color: #6370FF;
}
.admirer:hover {
  color: #6377FF;
  box-shadow: 1px 1px 5px #888888;
}
.admirer:active {
  color: #6377FF;
}

.profile-link: {
  padding: 2px;
  float: top;
}
.profile-link:link {
  color: #6370FF;
  text-decoration: none;
}
.profile-link:visited {
  color: #6370FF;
}
.profile-link:hover {
  color: #6370FF;
}
.profile-link:active {
  color: #6370FF;
}
.comment-form {
  padding-top: 3px;
  margin: 5px;
}
.comment-box {
  height: 30px;
  width:70%;
}
.comment-input{
  width: 100%;
  height: 100%;
}
.user {
  border: 10px;
  padding: 10px;
}
.user > a{
  padding: 10px;
  text-decoration: none;
  color: #6370FF;

}
.user > a:hover {
  box-shadow: 2px 2px 5px #888888;
}
.fancy-btn {
  box-shadow: 1px 1px 5px #888888;
  border-radius: 3px;
  border: 5px;
  padding: 7px;
}
.form-table tr td input{
  padding: 10px;
  font-size: medium;
}
.glow-box {
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0 0 10px #9ecaed;
}
.info_box {
  padding: 5px;
  border-radius: 3px;
  max-width: 400px;
}
.tabs {
  margin-top: 1px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 5px;
}
.tab-tile {
  list-style: none;
  margin-bottom: 0;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.tab-tile a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: #EFEFEF;
  border-bottom: 1px solid black;
}
.active a{
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 3px #000;
}
.tab-tile a:hover {
  background-color: #ABABAB;
}

.contents-wrapper {
  display: inline;
}
.side-tabbled-panel {
  margin-top: 5px;
  padding: 2px;
}

.side-content {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px;
  overflow: auto;
  max-height: 500px;
}
.tabbed-slidable {
  position: fixed;
  align: center;
}
.unread {
  font-weight: bold;
}
